apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  type: NodePort  # Для доступа снаружи
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300  # Будет доступен на localhost:30300