apiVersion: v1
kind: Service
metadata:
  name: kafka-broker
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9308"
spec:
  selector:
    app: kafka
  ports:
    - name: kafka
      port: 9092
      targetPort: 9092
    - name: metrics
      port: 9308
      targetPort: 9308